<div class="panel panel-default">
  <div class="panel-heading">Query Table</div>
  <div class="panel-body">
	<form class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control input-sm col-sm-10" id="exampleInputEmail3" placeholder="Subject" ng-model="theSubject">
		</div>
		<div class="form-group"> 
			<input type="text" class="form-control input-sm col-sm-1" id="exampleInputPassword3" placeholder="Predicate" ng-model="thePredicate">
		</div>
		<div class="form-group">
			<input type="text" class="form-control input-sm col-sm-10" id="exampleInputEmail3" placeholder="Object" ng-model="theObject">
		</div>
		<button type="submit" class="btn btn-default" ng-click="theQuery()">Query</button>
	</div>
	<div class="panel-body">
	</form>
	    <hot-table 
    	settings="settings"
    	row-headers="true"
    	col-headers="true"
    	data="objectArray"
    	height="700"
    	width="680"
    	fixed-rows-top="1"
    	fixed-columns-left="1"
    	min-spare-cols="50"
    	min-spare-rows="100">
  	</hot-table>

  	<!-- <div class="row">
  		<div class="col-md-6">
			<div class="card">
				<div class="card-header">Query by Subject</div>
				</br>
				<div class="card-block">
					<label for="usr">Subject:</label>
  					<input type="text" class="form-control" id="subject" ng-model="qSubject.subject">
  					<label for="usr">Predicate:</label>
  					<input type="text" class="form-control" id="spredicate" ng-model="qSubject.predicate">
  					</br>
					<button ng-click="querySubject()" class="btn btn-primary">Query</a>
				</div>
			</div>
  		</div>
  		<div class="col-md-6 ">
  			<div class="card">
				<div class="card-header">Query by Object</div>
				</br>
				<div class="card-block">
					<label for="usr">Object:</label>
  					<input type="text" class="form-control" id="object" ng-model="qObject.object">
  					<label for="usr">Predicate:</label>
  					<input type="text" class="form-control" id="opredicate" ng-model="qObject.predicate">
  					</br>
					<button ng-click="queryObject()" class="btn btn-primary">Query</a>
				</div>
			</div>
  		</div>
  	</div>
  </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Query Result:</div>
	<div class="panel-body">
		<div class="row">
	  		<div class="col-md-12">
				<div class="card">
					<div class="card-header">Result</div>
					<div class="card-block">
						<h4>{{queryResults}}</h4>
					</div>
				</div>
	  		</div>
  		</div> -->
	</div>
</div>