@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit request: play.api.mvc.RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/spreadsheet.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap-select/dist/css/bootstrap-select.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/w3.css")">
        <script src="@routes.Assets.at("lib/jquery/dist/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/jquery-ui/jquery-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/lodash/lodash.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/momentjs/moment.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/papaparse/papaparse.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/filesaver/filesaver.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/jszip/jszip.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap-select/dist/js/bootstrap-select.js")" type="text/javascript"></script>
    </head>
    <body data-ws-url="@routes.SpreadsheetController.socketSpreadsheet().webSocketURL()">
        <div class="wrap">
            @* And here's where we render the `Html` object containing
            * the page content. *@
            @content
        </div>
    </body>
</html>
