@(user: String, tableName: String)(implicit request: play.api.mvc.RequestHeader)
@main("spreadsheet!"){
    <div class="container">
        <div class="tab-content" style="margin-top: 10px">
            <div class="tab-pane fade in active">
                <div id="table-area">
                    <div id="@tableName">Table Name: @tableName</div>
                    <table></table>
                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#load-file" style="margin-top: 10px">Load CSV</button>
            <button class="btn btn-info" id="check-csv-triples" style="margin-top: 10px">Check CSV</button>
        </div>
        @csvModal()
    </div>
    <script src="@routes.Assets.versioned("javascripts/spreadsheet.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/table.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/document.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/sampleJson.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/alert.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/websocket.js")" type="text/javascript"></script>
}