@()

<div class="col-sm-2 col-md-2">
    <div class="thumbnail card">
        <img src='@routes.Assets.versioned("images/spreadsheet_icon.svg")' alt="Avatar">
        <div class="caption">
            <h6>Table
                <div class="dropdown" style="float: right">
                    @*  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                    </button>*@
                <span class="glyphicon glyphicon-option-vertical dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="glyphicon glyphicon-text-background dropdown-icon"></span>Rename</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-trash dropdown-icon"></span>Remove</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-new-window dropdown-icon"></span>Open in new tab</a></li>
                </ul>
                </div>
            </h6>
        </div>
    </div>
</div>