@(user: String)(implicit request: play.api.mvc.RequestHeader, flash: Flash)

@import views.html.elements.flashMessages
@import views.html.elements.handlebars

@main("event") {
    <div class="container">
        <ul class="nav nav-tabs">
            <li ><a href="#add" class="add-header"> + </a></li>
        </ul>

        <div class="tab-content" style="margin-top: 10px">
            <div class="tab-pane fade in active">
                <table></table>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/table.js")'></script>
}