@(message: String)

@main("Welcome to teststream!"){
<!DOCTYPE html>
    <meta charset="utf-8" />
    <title>WebSocket Test</title>
    <script language="javascript" type="text/javascript">

            var wsUri = "ws://"+location.host+"/teststream";
            var output;

            function init()
            {
                output = document.getElementById("output");
                testWebSocket();
            }

            function testWebSocket()
            {
                websocket = new WebSocket(wsUri);
                websocket.onopen = function(evt) { onOpen(evt) };
                //websocket.onclose = function(evt) { onClose(evt) };
                websocket.onmessage = function(evt) { onMessage(evt) };
                websocket.onerror = function(evt) { onError(evt) };
            }

            function onOpen(evt)
            {
                writeToScreen("CONNECTED");
            }

            function onClose(evt)
            {
                writeToScreen("DISCONNECTED");
            }

            function onMessage(evt)
            {
                writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
            }

            function onError(evt)
            {
                writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
            }

            function doSend(message)
            {
                websocket.send(message);
                writeToScreen("SENT: " + message);
            }

            function writeToScreen(message)
            {
                var pre = document.createElement("p");
                pre.style.wordWrap = "break-word";
                pre.innerHTML = message;
                output.appendChild(pre);
            }

            function closeWebSocket()
            {
                websocket.close();
            }

            function openWebSocket()
            {
                websocket = new WebSocket(wsUri);
                //websocket.onopen = function(evt) { onOpen(evt) };
                //websocket.onclose = function(evt) { onClose(evt) };
                websocket.onmessage = function(evt) { onMessage(evt) };
                websocket.onerror = function(evt) { onError(evt) };
                writeToScreen("CONNECTED");
            }

            function sendMessage()
            {
                doSend(document.getElementById("msg").value);
            }

            window.addEventListener("load", init, false);

    </script>

    <h2>WebSocket Test</h2>
        message: <input id="msg" type="text" name="message">
        <input type="button" value="Open" onclick="openWebSocket()">
        <input type="submit" value="Send" onclick="sendMessage()">
        <input type="button" value="Close" onclick="closeWebSocket()">
    <div id="output"></div>
}